.row{
    width: 100%;
}
.coloumn1{
    width: 16%;
    float: right;
}
.center{
    display: flex;
    justify-content: center;   
}
.row1{
    width: 100%;
}
.c1{
    width: 25%;
    float: right;
    padding: 20px;
}
.box{
    padding: 10px;
    background-color: bisque;
}