<div class="row">
    <div class="coloumn1"><h4><b>Home</b></h4></div>
    <div class="coloumn1"><h4><b>About</b></h4></div>
    <div class="coloumn1"><h4><b>Speakers</b></h4></div>
    <div class="coloumn1"><h4><b>Schedule</b></h4></div>
    <div class="coloumn1"><h4><b>Pricing </b></h4></div>
    <div class="coloumn1"><h4><b>Contacts</b></h4></div>
   <br><br><br>
</div>
<h1 class="center">Codeing is easy</h1><br>
<h1 class="center">If you know</h1>
<br>
<h3 class="center">Enroll now and get your seats registered!</h3>
<div class="row1">
    <div class="c1">
        <div class="box">
            <h2>DATE</h2>
            <h3>March 21,2021</h3>
        </div>
    </div>
    <div class="c1">
        <div class="box">
            <h2>LOCATION</h2>
            <h3>Conference Hall</h3>
        </div>
    </div>
    <div class="c1">
        <div class="box">
            <h2>SEATS</h2>
            <h3>200 People</h3>
        </div>
    </div>
    <div class="c1">
        <div class="box">
            <h2>SPEAKER</h2>
            <h3>12 Experts</h3>
        </div>
    </div>
</div>
