::ng-deep h6,h5, h4, h3,h2,h1,label,.nav, input,button,p{
    font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
.card2{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 280px;
    //border-bottom-right-radius: 50px;
    border-radius: 10px;
}
.imgbox{
    height: 280px;
    width: 204px;
    padding: 1px;
    border-radius: 10px;
}