<div class="row" style="padding-left: 27px;">
    <h2>Favorite</h2>
</div>
<div class="row">
    <div class="col-md-2">
        <div>
            <div class="card card2">
                <img src="assets\images\Capture1.PNG" class="imgbox">
            </div>
            <p style="font-weight: 500;"><b>The title of the Book</b> <br>
            <b>Rs 200.00</b></p>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <div class="card card2">
                <img src="assets\images\Capture2.PNG" class="imgbox">
            </div>
            <p style="font-weight: 500;"><b>The title of the Book</b> <br>
            <b>Rs 200.00</b></p>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <div class="card card2">
                <img src="assets\images\Capture3.PNG" class="imgbox">
            </div>
            <p style="font-weight: 500;"><b>The title of the Book</b> <br>
            <b>Rs 200.00</b></p>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <div class="card card2">
                <img src="assets\images\Capture4.PNG" class="imgbox">
            </div>
            <p style="font-weight: 500;"><b>The title of the Book</b> <br>
            <b>Rs 200.00</b></p>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <div class="card card2">
                <img src="assets\images\Capture1.PNG" class="imgbox">
            </div>
            <p style="font-weight: 500;"><b>The title of the Book</b> <br>
            <b>Rs 200.00</b></p>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <div class="card card2">
                <img src="assets\images\Capture2.PNG" class="imgbox">
            </div>
            <p style="font-weight: 500;"><b>The title of the Book</b> <br>
            <b>Rs 200.00</b></p>
        </div>
    </div>
</div>