
<div class="row">
    <div class="col-md-5"></div>

    <div class="col-md-4">
        <h2>Gender</h2>
    </div>
    <div class="col-md-3"></div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="card">
            <div class="row mx-auto">
                <div class="col-md-2"></div>
                <div class="col-md-8 mx-auto">
                    <img src="assets\images\Capture20.png" class="imgbox">
                </div>
                <div class="col-md-2"></div>
            </div>
            <br><br>
            <h3 class="center">Male</h3>
            <br><br><br>
            <br>

            <div class="row">
                <button id="b1" (click)="onSubmit1()" class="btn1">Select</button>
            </div>


        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="row mx-auto">
                <div class="col-md-2"></div>
                <div class="col-md-8 mx-auto">
                    <img src="assets\images\Capture21.png" class="imgbox">
                </div>
                <div class="col-md-2"></div>
            </div>
            <br><br>
            <h3 class="center">Female</h3>
            <br><br><br>
            <br>

            <div class="row">
                <button id="b2" (click)="onSubmit2()" class="btn1">Select</button>

            </div>


        </div>
<br><br>
        <button (click)="goTo()" class="btn">Continue</button>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="row mx-auto">
                <div class="col-md-2"></div>
                <div class="col-md-8 mx-auto">
                    <img src="assets\images\Capture22.png" class="imgbox">
                </div>
                <div class="col-md-2"></div>
            </div>
            <br><br>
            <h3 class="center">Other</h3>
            <br><br><br>
            <br>
            <div class="row">
                <button id="b3" (click)="onSubmit3()" class="btn1">Select</button>

            </div>


        </div>
    </div>
    <div class="col-md-2"></div>

</div>