<div class="row">
    <div class="col-md-8">
        <section id="vertical-timeline-left"
            class="ml-0 mt-5 timeline-left timeline-wrapper col-sm-11 col-12 offset-sm-1">

            <ul class="timeline">
                <li class="timeline-line"></li>
                <li class="timeline-item">
                    <div class="timeline-badge">
                        <span class="Active" data-toggle="tooltip" placement="right" ngbTooltip="Login/SignUp">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="timeline-card card shadow-z-1">

                        <div class="card-content">
                            <div class="card-body">

                                <h3>Cart</h3>
                                <br>

                                <div class="divBorders">
                                    <div class="row" *ngFor="let item1 of books1">
                                        <div class="col-md-6 data">{{item1.Title}}</div>
                                        <div class="col-md-4 data">{{item1.Genre}}</div>
                                        <div class="col-md-2 data">{{item1.SellingPrice}}</div>
                                        <br><br>
                                    </div>

                                </div>
                                <br>
                                <div class="divBorders">
                                    <!-- <input type="checkbox" id="checkbox1" checked> &nbsp; -->
                                    <!-- <label for="checkbox1"><span>Active</span></label> -->
                                    <div class="row" *ngFor="let item of onCheck">
                                        <div class="col-md-1"><input type="checkbox" checked="item.checkMe">
                                        </div>
                                        <div class="col-md-11 mr-0">
                                            <h5>Self Pickup</h5>
                                        </div>
                                    </div>
                                    <p>You have to go to the bookstore and pickup your order</p>
                                </div>
                                <br>
                                <div class="divBorders" *ngFor="let item of details">
                                    <h6><i class="fa fa-pencil-square-o" style="font-size: 25px;"
                                            aria-hidden="true"></i> &nbsp;
                                        Delivery Instructions :
                                    </h6>
                                    <p>{{item.DeliveryInstructions}}</p>
                                </div>
                                <br>
                                <div class="divBorders">
                                    <!-- <input type="checkbox" id="checkbox1" checked> &nbsp; -->
                                    <!-- <label for="checkbox1"><span>Active</span></label> -->
                                    <div class="row">
                                        <div class="col-md-1"><input [disabled]="isDisabled" id="checkbox2"
                                                type="checkbox" checked></div>
                                        <div class="col-md-11 mr-0">
                                            <h5>No contact delivery</h5>
                                        </div>
                                    </div>
                                    <p>Partner will check with you and leave the order outside the door</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-badge">
                        <span class="Active" data-toggle="tooltip" placement="right" ngbTooltip="Choose address">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="timeline-card card shadow-z-1">

                        <div class="card-content">
                            <div class="card-body" *ngFor="let item of details">
                                <div class="divBorders">
                                    <h3>Choose Address</h3><br>
                                    <p><b><i style="font-size: 20px;color:rgb(3, 192, 176)" class="fa fa-check-circle"
                                                aria-hidden="true"></i> Delivered to {{item.Tag}}</b></p>
                                    <p>{{item.Address}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-badge">
                        <span class="Active" data-toggle="tooltip" placement="right" ngbTooltip="Select Payment Method">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="timeline-card card shadow-z-1">

                        <div class="card-content">
                            <div class="card-body">
                                <div class="divBorders">
                                    <h3>Select payment Method</h3>
                                    <div class="row">
                                        <div class="col-md-1"><input id="checkbox1" type="checkbox" id="checkbox1"
                                                (change)="onCheckboxChange($event)"></div>
                                        <div class="col-md-11 mr-0">
                                            <p><b>Cash On Delivery</b></p>

                                            <br>
                                            <button (click)="verifyAndPay()" (click)="open(content)"
                                                class="btn btn-secondary" id="verifyButton">Verify and Pay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </section>
    </div>
    <!-- <div class="col-md-4">
        <div class="mt-5 card c1" *ngFor="let item of details">
            <table>
                <tr>
                    <td>Apply coupon Code</td>
                    <td><button class="apply">Apply</button></td>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td>₹ {{item.Subtotal}}</td>
                </tr>

                <tr>
                    <td>To Pay</td>
                    <td>₹ {{item.Subtotal}}</td>
                </tr>
            </table>
            <br>
            <button class="btn">Checkout &nbsp;&nbsp;&nbsp; ₹ {{item.Subtotal}}</button>
        </div>
    </div> -->
    <div class="col-md-4">
        <div class="mt-5 card c1" *ngFor="let item of details">
            <table>
                <tr id="cuponCode">
                    <td><img src="assets\images\Capture24.png" style="height: 25px;"> Apply coupon Code</td>
                    <td><button class="apply">Apply</button></td>
                </tr>
                <tr>
                    <td>Security Amount</td>
                    <td>₹ {{item.SecurityAmount}}</td>
                </tr>
                <tr>
                    <td>Rent Amount ({{item.arraLength}} book)</td>
                    <td>₹ {{item.FinalRent}}</td>
                </tr>
                <tr>
                    <td>Delivery Fee</td>
                    <td>₹ {{item.deliveryFee}}</td>
                </tr>
                <tr style="border-top: solid;">
                    <td>To Pay</td>
                    <td>₹ {{item.Subtotal}}</td>
                </tr>
            </table>

        </div>
    </div>
</div>

<!-- pop-up 1 starts from here -->
<ng-template #content let-c="close" data-backdrop="static" let-d="dismiss" class="m1">
    <div class="modal-body mx-5 my-5">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button><br>
        <img src="assets\images\Capture27.PNG" class="imgbox">


        <h4>Order successfully placed !!</h4>
        <p>Dear customer,your order has been successfully <br>
            placed! confirming with our vendor </p>
        <p class="center">the "Orders" section</p>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button (click)="goToOrders()" (click)="d('Cross click')" class="verifyAndPay">Go to my Order</button>
            </div>
            <div class="col-md-6"></div>
        </div>

    </div>
</ng-template>
<!-- <ng-template #content let-c="close" data-backdrop="static" let-d="dismiss" class="m1">
    <div class="modal-body mx-5 my-5">
        <img src="assets\images\Capture25.PNG" class="imgbox">
        
           
            <h1 class="center">Thank You!!</h1>
            <h5 class="center">Payment Recieved Sucessfully.</h5>
            <p class="center">Please,You can track delivery in</p>
            <p class="center">the "Orders" section</p>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button (click)="goToOrders()" (click)="d('Cross click')" style="height: 45px;
        border-radius: 8px;width: 170px;">Go to my Order</button>
                </div>
                <div class="col-md-6"></div>
            </div>
       
    </div>
</ng-template> -->