<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <h2 style="padding-left: 75px;">Reading Scale</h2>
    </div>
    <div class="col-md-4"></div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img src="assets\images\Capture13.PNG" class="imgbox">
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h4 style="padding-left: 16px;"><b>Crwaler</b></h4>
                </div>
                <div class="col-md-3"></div>
            </div><br>

            <div class="row">
               
                <div class="col-md-12">
                   <p><span style="padding-left: 55px;">Lorem Ipsum Dolor Sit </span><br> 
                <span style="padding-left: 59px;">Amet, consectetuer </span><br>
                <span style="padding-left: 72px;">Adipiscing Elit.</span>
                </p>
                </div>
                
            </div><br>

            <div class="row">
                <button id="b1" (click)="onSubmit1()" class="btn1">Select</button>
            </div>


        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img src="assets\images\Capture14.PNG" class="imgbox">
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h4 style="padding-left: 16px;"><b>Book Worm</b></h4>
                </div>
                <div class="col-md-2"></div>
            </div><br>

            <div class="row">
               
                <div class="col-md-12">
                   <p><span style="padding-left: 55px;">Lorem Ipsum Dolor Sit </span><br> 
                <span style="padding-left: 59px;">Amet, consectetuer </span><br>
                <span style="padding-left: 72px;">Adipiscing Elit.</span>
                </p>
                </div>
                
            </div><br>

            <div class="row">
                <button id="b2" (click)="onSubmit2()" class="btn1">Select</button>

            </div>


        </div>
        <br><br>
        <button (click)="goTo()" class="btn">Continue</button>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img src="assets\images\Capture15.PNG" class="imgbox">
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h4 style="padding-left: 16px;"><b>Book Dragon</b></h4>
                </div>
                <div class="col-md-2"></div>
            </div><br>

            <div class="row">
               
                <div class="col-md-12">
                   <p><span style="padding-left: 55px;">Lorem Ipsum Dolor Sit </span><br> 
                <span style="padding-left: 59px;">Amet, consectetuer </span><br>
                <span style="padding-left: 72px;">Adipiscing Elit.</span>
                </p>
                </div>
                
            </div><br>

            <div class="row">
                <button id="b3" (click)="onSubmit3()" class="btn1">Select</button>

            </div>


        </div>
    </div>
    <div class="col-md-2"></div>

</div>